SUPABASE_KEY = Your Supabase Key

SUPABASE_URL = Your Supabase Url

NEXTAUTH_URL = APP URL (e.g., http://localhost:3000 for local development)
NEXTAUTH_URL_2 = APP URL (e.g., https://your-app.vercel.app for production)

NEXT_PUBLIC_SOME_VAR = INFORMATION STORE IN HERE WILL BE LEAKED TO THE BROWSER

NEXTAUTH_SECRET = Your NextAuth Secret

NEXT_AUTH_GOOGLE_ID = Your Google Client ID

NEXT_AUTH_GOOGLE_SECRET = Your Google Client Secret

JWT_SIGNING_PRIVATE_KEY = Your JWT Signing Private Key